<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickOnePackOne</title>
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>
<body>
    <div>
        <div class='header'>
            <h1>PickOnePackOne</h1>
            <div class ="subheading">
                <div = "info">
                    <h3>New Capenna</h3>
                </div>
                <div>
                    <h3>Premier Draft</h3>
                </div>
                <div>
                    <h3>Last Update</h3>
                </div>
            </div>
        </div>

        {% for color in post: %}
            <hr>
            <div class='section'>
                {% for common in color: %}
                    <div class="card">
                        <img src={{common.img_url}}/>
                        <p>{{common.winrate|int}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class='section section'>
            <img class='card' src=''/>
        </div>
    </div>
</body>
</html>