<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PickOnePackOne</title>
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>
<body>
    <div class = "page">
        <div class='header'>
            <h1>PickOnePackOne</h1>
            <div class ="subheading">
                <div class = "info">
                    <h3>Brothers of War</h3>
                </div>
            </div>
        </div>

        {% for color_matching_commons in post: %}
            <div class='section'>
                {% if color_matching_commons[0].color == "" %}
                    <img width = "30" src="{{url_for('static', filename='C.svg')}}">
                {% elif color_matching_commons[0].color|length > 1 %}
                    <img width = "30" src="{{url_for('static', filename='M.svg')}}">
                {% else %}
                    <img width = "30" src="{{url_for('static', filename=color_matching_commons[0].color + '.svg')}}">
                {% endif %}
                {% for common in color_matching_commons: %}
                    <div class="card">
                        <img src={{common.cropped_img_url}}/>
                        <p>{{common.winrate|int}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class='section section'>
            <img class='card' src=''/>
        </div>
    </div>
</body>
</html>